* {
    margin: 0;
    padding: 0;
}
  
body {
    font-family: 'Roboto Slab', serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    line-height: 1.6;
}
  
.containerz {
    width: 100%;
    height: 100vh;
    /* CSS Smooth Scroll */
    /* overflow-y: scroll; 
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory; */
}

.navbar {
    position: fixed;
    text-align: center;
    top: 0;
    z-index: 1;
    display: flex;
    width: 100%;
    height: 50px;
    background: rgba(0,0,0,0.7);
}
  
.navbar ul {
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: center;
}
  
.navbar ul li {
    margin: 0 .2rem;
    padding: .8rem;
}
  
.navbar ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #f4f4f4;
}
  
.navbar ul li a:hover {
    color: skyblue;
}
  
section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100vh;
   
    /* Scroll Snap */
    /* scroll-snap-align: center; */
}

h2{
    font-weight: bold;
    font-size: 2.5rem;
}

#intro, .lead {
    font-size: 1.2rem;
}
  
section h1 {
    font-size: 4rem;
}

#linkedin, #github, #resume {
    width: 5vh;
    height: 5vh;
    margin: 1em;
}

p {
    margin: 1em;
}

.logos {
    display: inline;
}
  
  /* Section backgrounds */
section#home {
    background-color: #f0f0f0;
}
  
section#about {
    background-color: white;
}

section#projects{
    background-color: #f0f0f0;
}

  
section#contact {
    background-color: white;
}


  

/* Project Section */
#project-head{
    margin-bottom: 10%;
}

.container{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    margin: 0px;
}

.container .cards{
    position: relative;
    width: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.container .cards .inner-card{
    color: red;
    position: relative;
    /* width: calc(50% - 40px); */
    width: 50%;
    margin: 0 30px 30px 0;
    /* padding: 0 20px; */
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 4px;
    transition: .5s;
    box-shadow: 0 5px 15px rgba(0,0,0,.2);
}

.container .cards .inner-card.active{
    box-shadow: 0 10px 30px rgba(0,0,0,.5);
}

.container .cards .inner-card .project-name{
    /* max-width: 100%; */
    font-size: 2.5vw;
    filter: grayscale(1);
    transition: .5s;
    transform: scale(0.8);
}

.container .cards .inner-card.active .project-name{
    filter: grayscale(0);
    transform: scale(1);
}


.content{
    position: relative;
    width: 50%;
    overflow: hidden;
}

.content .inner-content{
    position: absolute;
    width: 100%;
    height: 30vh;
    display: flex;
    align-items: center;
    transition: 0.5s;
    transform: scale(0);
    opacity: 0;
}

.content .inner-content.active{
    transform: scale(1);
    opacity: 1;
    transition-delay: 0.2s
}

/* .text{
    margin-right: 3vw;
    margin-left: -5vw;
} */

.content .inner-content .text .proj-header{
    font-size: x-large;
    align-items: center;
    font-weight: bold;
    /* width: 30vw; */

    height: 10vh;
    text-align: center;
}

.content .inner-content .text .proj-desc{
    font-size: 1vw;
}


/* Responsive columns */
@media screen and (max-width: 600px) {

    .container .cards{
        width: 45%;
    }

    .content{
        position: relative;
        width: 55%;
        overflow: hidden;
    }

    .container .cards .inner-card .project-name{
        font-size: 4.5vw;
    }

    .content .inner-content.active{
        font-size: 8vw;
        width: 30vw;
        /* padding-right: 125px; */
        height: 100%;
    }
    .content .inner-content .text .proj-header{
        font-weight: bold;
        font-size: 7em;
        height: 15vh;
        font-size: 5.5vw;
        text-align: center;
        align-items: center;
    }

    .content .inner-content .text .proj-desc{
        font-size: 3.5vw;
    }
    .page-header{
        /* margin-top: 3vh; */
        font-size: 2em;
    }
}


