* {
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto Slab', serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    line-height: 1.6;
}

.navbar {
    position: fixed;
    text-align: center;
    top: 0;
    z-index: 1;
    display: flex;
    width: 100%;
    /* height: 50px; */
    background: rgba(0,0,0,0.7);
}
  
.navbar ul {
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: center;
}
  
.navbar ul li {
    margin: 0 .2rem;
    padding: .8rem;
}
  
.navbar ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #f4f4f4;
}
  
.navbar ul li a:hover {
    color: #FF8552;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 60%;
}

.projText h1{
    width: 50%;
    margin-top: 3vh;
    margin-bottom: 3vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 40px;
}

.projText div{
    width: 50%;
    margin-top: 2vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
} 

.projText div h3 span{
    font-weight: normal;
}

.spacer{
    margin: 200px;
}


/* Responsive columns */
@media screen and (max-width: 1200px) {
    .navbar ul li {
        margin: 0 .1rem;
        padding-top: .9rem;
        padding-left: .5rem;
        padding-right: .5rem;
        font-size: small;
    }

    img{
        display:block;
        width:100%;
        height: 55%;
    }
    .projText h1{
        width: 50%;
        margin-top: 3vh;
        margin-bottom: 3vh;
        display: block;
        margin-left: auto;
        margin-right: auto;
        font-size: 40px;
    }
    
    .projText div{
        width: 50%;
        margin-top: 2vh;
        display: block;
        margin-left: auto;
        margin-right: auto;
    } 
}




/* Responsive columns */
@media screen and (max-width: 600px) {

    .spacer{
        margin: 250px;
    }

    body{
        height: 100vh;
    }
    
    .navbar ul li {
        margin: 0 .1rem;
        padding-top: .9rem;
        padding-left: .5rem;
        padding-right: .5rem;
        /* padding: .8rem; */
        font-size: small;
    }

    img{
        display:block;
        width:100%;
        height: 25%;
    }
    
    .projText h1{
        margin-top: 3vh;
        margin-bottom: 3vh;
        display: block;
        margin-left: auto;
        margin-right: auto;
        font-size: 40px;
    }
    
    .projText div{
        margin-top: 2vh;
        display: block;
        margin-left: auto;
        margin-right: auto;
        float: left;
    } 

    .projDescription{
        margin-top: 2vh;
        display: block;
        margin-left: auto;
        margin-right: auto;
        
    }
}

